{
  "app_name": "dd-cp",
  "github_release": {
    "repo": "devopsdefender/dd",
    "asset": "devopsdefender",
    "tag": "${DD_RELEASE_TAG}"
  },
  "inherit_token": true,
  "cmd": ["devopsdefender", "cp"],
  "env": [
    "DD_MODE=cp",
    "DD_HOSTNAME=${DD_HOSTNAME}",
    "DD_CF_API_TOKEN=${CLOUDFLARE_API_TOKEN}",
    "DD_CF_ACCOUNT_ID=${CLOUDFLARE_ACCOUNT_ID}",
    "DD_CF_ZONE_ID=${CLOUDFLARE_ZONE_ID}",
    "DD_CF_DOMAIN=${DD_DOMAIN}",
    "DD_ADMIN_EMAIL=${DD_ADMIN_EMAIL}",
    "DD_FLEET_JWT_SECRET=${DD_FLEET_JWT_SECRET}",
    "DD_GH_OAUTH_CLIENT_ID=${DD_GH_OAUTH_CLIENT_ID}",
    "DD_GH_OAUTH_CLIENT_SECRET=${DD_GH_OAUTH_CLIENT_SECRET}",
    "DD_ITA_API_KEY=${DD_ITA_API_KEY}",
    "DD_ITA_BASE_URL=https://api.trustauthority.intel.com",
    "DD_ITA_JWKS_URL=https://portal.trustauthority.intel.com/certs",
    "DD_ITA_ISSUER=https://portal.trustauthority.intel.com",
    "DD_OWNER=${DD_OWNER}",
    "DD_OWNER_ID=${DD_OWNER_ID}",
    "DD_OWNER_KIND=${DD_OWNER_KIND}",
    "DD_ENV=${DD_ENV}",
    "DD_PORT=8080"
  ]
}
